/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Your code starts here! */





/* GLOBAL */

.container {
	margin: 0 auto;
	width: 880px;
	/* border: 1px solid green; */
}

header {
	/* border: 1px solid red; */
	border-bottom: 2px solid #555;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	margin-top: 120px;
	height: 400px;
	box-sizing: border-box;
	padding-bottom: 480px;
}

img {
	display: inline-block;
	vertical-align: top;
}

h1 {
	font-family: 'Knewave', cursive;
	text-transform: uppercase;
	font-size: 75px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	width: 490px;
	padding-top: 50px;
}

h2 {
	font-family: 'Press Start 2P', cursive;
}

button {
	border: 2px solid #999;
	background: white;
	padding: 8px 40px;
	position: relative;
	bottom: 70px;
	left: 115px;
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
	cursor: pointer;
}

button:hover {
	border: 2px solid green;
	background: green;
	color: white;
	transition: .3s;
}

/* MAIN NAV */

.main-nav {
	/* border: 1px solid red; */
	background: lightslategray;
	z-index: 1;
	position: fixed;
	width: 100%;
	padding: 30px 0;
}

.main-nav a {
	color: white;
	text-decoration: none;
	margin-right: 62px;
	position: relative;
	top: 10px;
}

.main-nav a:hover {
	border-bottom: 3px solid #333;
	transition: .3s;
}


/* CONTENT */
.content {
	/* border: 1px solid orange; */
	margin: 45px 0;
}

#features, #about {
	/* border: 1px solid blue; */
	display: inline-block;
	vertical-align: top;
	width: 438px;
}

#services, #product, #vision {
	display: inline-block;
	vertical-align: top;
	width: 290px;
}

/* FOOTER */
.contact {
	border-top: 2px solid #555;
	padding: 45px 0;
}

.contact p {
	margin-top: 24px;
}

footer {
	margin-bottom: 100px;
	text-align: center;
	font-size: .8em;
}